@import "tailwindcss";

/* GLOBAL BASE STYLES*/
@layer base {
  :root {
    --bg-main: #020617;
    --bg-soft: #0b1220;

    --border-soft: #1e293b;

    --text-main: #e5e7eb;
    --text-muted: #94a3b8;

    --accent-cyan: #22d3ee;
    --accent-purple: #a855f7;
    --accent-green: #22c55e;
    --accent-red: #ef4444;
  }

  html,
  body {
    min-height: 100%;
  }

  body {
    background:
      radial-gradient(
        circle at top,
        #0f172a 0%,
        #020617 65%
      );
    color: var(--text-main);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Ubuntu,
      "Helvetica Neue",
      sans-serif;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  p {
    line-height: 1.6;
  }

  a {
    color: var(--accent-cyan);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    font-family: inherit;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    var(--accent-cyan),
    var(--accent-purple)
  );
  border-radius: 8px;
}


